/
CREATE DATABASE [library]




CREATE TABLE [dbo].[CATEGORIES](
	[ID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[CATEGORY_NAME] [varchar](100) NULL,
)
CREATE TABLE [dbo].[BOOKS](
	[ID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[ISBN] [varchar](50) NULL,
	[TITLE] [varchar](100) NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[CATEGORY_ID] [int] NULL FOREIGN KEY REFERENCES CATEGORIES(ID),
	[POSITION] [varchar](50) NULL,
	[AUTHOR] [varchar](50) NULL,
)
CREATE TABLE [dbo].[MEMBERS](
	[ID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[FIRSTNAME] [varchar](50) NULL,
	[LASTNAME] [varchar](50) NULL,
	[EMAIL] [varchar](100) NULL,
	[PHONE] [varchar](20) NULL,
	[ADDRESS] [varchar](100) NULL,
)
CREATE TABLE [dbo].[SUBSCRIPTION](
	[ID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[MEMBER_ID] [int] NULL FOREIGN KEY REFERENCES MEMBERS(ID),
	[START_DATE] [date] NULL,
	[END_DATE] [date] NULL,
	[ALOWANCE] [int] NULL,
)
CREATE TABLE [dbo].[SUBSCRIPTION_TYPES](
	[ID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[NAME] [varchar](10) NULL,
	[DURATION] [int] NULL,
	[ALLOWANCE] [int] NULL,

)
CREATE TABLE [dbo].[BORROWINGS](
	[ID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[MEMBER_ID] [int] NULL FOREIGN KEY REFERENCES MEMBERS(ID),
	[BOOK_ID] [int] NULL FOREIGN KEY REFERENCES BOOKS(ID),
	[START_DATE] [date] NULL,
	[END_DATE] [date] NULL,
)
CREATE TABLE [dbo].[USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[USERNAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](255) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[SURNAME] [nvarchar](50) NULL,
 )
